/*********************
 * General Items
 *********************/
p {
	padding-bottom: 0px;
}
a {
	text-decoration: none;
}
a:link {
	color: black
}
a:visited {
	color: black
}
a:hover {
	color: red;
/*	text-decoration: underline;*/
}

a:active {
	color: black
}

/*********************
 * main document
 ********************/

body {
	width: 1100px;
	margin: 0px auto;
}

div#center_page {
	position: relative;
	position: absolute;
	top: 	0px;
	width: 1100px;
	height: 869px;
	background: url("../images/MainPageBackgroundWhite.png") no-repeat;
	margin: 0px auto;
}

div#chilhowee_logo {
	position: relative;
	left: 20px;
	top: 10px;
	z-index: 2;
}

div#chilhowee_badge {
	float: right;
	position: relative;
	right: 100px;
	top: -85px;
	z-index: 2;
}

div#window_open {
	position: absolute;
	left: 252px;
	top: 132px;
	z-index: 3;
}

div#window_back_view {
	position: relative;
	left: 50px;
	z-index: -1;
}

div#news_board {
	position: relative;
	left: 520px;
	top: -350px;
	z-index:3;
}

div#books {
	position:relative;
	left: 400px;
	top: -380px;
	z-index:3;
}

div#camera {
	position: relative;
	left: 870px;
	top: -430px;
	z-index: 3;
}
