/*********************
 * General Items
 *********************/
p {
	padding-bottom: 0px;
}
a {
	text-decoration: none;
}
a:link {
	color: black
}
a:visited {
	color: black
}
a:hover {
	color: red;
/*	text-decoration: underline;*/
}

a:active {
	color: black
}

/*********************
 * main document
 ********************/

body {
	width: 1100px;
	margin: 0px auto;
	background: black;
}

div#center_page {
	position: relative;
	top: -60px;
	width: 1100px;
	height: 769px;
	background: #0e564e url("../images/MainPageBackground.png") no-repeat;
	margin: 0px auto;
}

div#chilhowee_logo {
	position: relative;
	left: 20px;
	top: 10px;
	z-index: 2;
}

div#chilhowee_badge {
	float: right;
	position: relative;
	right: 100px;
	top: -85px;
	z-index: 2;
}

div#window_open {
	position: absolute;
	left: 252px;
	top: 132px;
	z-index: 3;
}

div#window_back_view {
	position: absolute;
	left: 252px;
	top: 132px;
	z-index: 2;
}

